.place__title {
    font-size: 4.5rem;
    line-height: 4.75rem;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .place__title {
        font-size: 2.625rem;
        line-height: 2.875rem;
    }
}

@media screen and (max-width: 750px) {
    .place__title {
        margin-bottom: 32px;
    }
}