@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');

.page {
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    color: #fff;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}