@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
    display: flex;
    flex-wrap: wrap;
    max-width: 984px;
    margin: 0 auto;
    padding-top: 56px;
    justify-content: center;
}
