.cover__subtitle {
    z-index: 2;
    position: relative;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 1.375rem;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .cover__subtitle {
        font-size: .875rem;
        line-height: 1rem;
    }
}