.lead__title {
    font-size: 6rem;
    line-height: 6.25rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 32px;
    max-width: 720px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .lead__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin-bottom: 16px;
    }
}
