.footer__links {
  display: flex;
  list-style: none;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

@media screen and (max-width: 700px) {
    .footer__links {
      flex-direction: column;
      margin-bottom: 48px;
    }
}
