.place__paragraph {
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 400;
  margin: 0 0 24px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .place__paragraph {
      font-size: 1rem;
      line-height: 1.625rem;
  }
}


@media screen and (max-width: 700px) {
    .place__paragraph {
        padding: 0 16px;
    }
}
