@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__overlay/cover__overlay.css');
@import url('./__background/cover__background.css');
@import url('./__link/cover__link.css');

.cover {
    max-width: 1184px;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}