.cover__title {
    z-index: 2;
    position: relative;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 4.75rem;
    width: 560px;
    margin: 0 auto 32px;
    padding-top: 245px;
    text-align: center;
}