.cover__title {
    z-index: 2;
    position: relative;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 4.75rem;
    max-width: 560px;
    margin: 0 auto 32px;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .cover__title {
        font-size: 2rem;
        line-height: 109%;
        margin-bottom: 16px;
    }
}