@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .footer {
        padding-top: 88px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 16px;
    }
}