@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
}